  .container {
    border: 1px solid black;
    display: flex;
    height: 80vh;
  }

  .article-1 {
    width: 50%;
    text-align: center;
    border: 1px solid #000;
    background: #fff;
  }
    // cambiar pixeles por vh
  .border-article-1 {
    height: 93.5%;
    margin: 10px 20px 0 20px;
    border: 1px solid black;

  }
  // cambiar nombres articles-2-3 y 4-5
  .articles-2-3,
  .articles-4-5 {
    text-align: center;
    width: 36%;
    border: 1px solid black;
  }

  .article-2 {
    border: 1px solid black;
    margin: 0.875rem;
    height: 45%;
    background: #fff;
  }

  .article-image {
    border: 1px solid black;
    height: 63%;
    width: 100%;
  }

  .ajust-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .article-text {
    height: 20%;
    margin: 0;
  }

 .publicity {
   display: flex;
   align-content: center;
   justify-content: center;
 }



  @media screen and (max-width: 600px) {
    .container {
      border: none;
      height: 85vh;
      flex-wrap: wrap;
    }
    // cambiar nombres articles-2-3 y 4-5
    .article-1,
    .articles-2-3,
    .articles-4-5 {
      width: 100%;
      border: none;
    }

    .border-article-1 {
      height: 93%;
      margin: 2vh;
      width: auto;
      border: 1px solid black;
    }

    .article-2 {
      height: 41vh;
      width: 85%;
      margin: 10px 0 0 17px;
      top: 21rem;
    }

    .articles-2-3 {
      display: flex;
      flex-direction: column;
    }

    .articles-4-5,
    .article-3 {
      display: none;
    }





  }
