
<div class="container">

  <div class="left-articles">

    <app-article class="second-article" [currentCharacter]="characterRandoms[1]"></app-article>
    <app-article class="third-article"[currentCharacter]="characterRandoms[2]"></app-article>

  </div>
  <div class="principal-article">
    <app-article [currentCharacter]="characterRandoms[0]" [article1]="true"></app-article>
  </div>


  <div class="rigth-articles">
    <app-article [currentCharacter]="characterRandoms[3]"></app-article>
    <app-article [currentCharacter]="characterRandoms[4]"></app-article>
  </div>

</div>
<div class="publicity">
  <p>Publicidad</p>
</div>
