  .container {
    border: 1px solid black;
    display: flex;
    height: 80vh;
  }

  .left-articles,
  .principal-article,
  .rigth-articles {
    width: 100%;
  }

  .publicity {
    display: grid;
    align-content: center;
    justify-content: center;
    height: 14vh;
    border: 1px solid black;
  }

  @media screen and (max-width: 600px) {

    .rigth-articles,
    .third-article {
      display: none;
    }
    .principal-article{
      margin-top: 20px;
      margin-bottom: 20px;
    }

    .container {
      display: contents;
    }


  }
